{% extends "base.html" %}

{% block content %}

<section id="about" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Edit item</h2>
                <div class="table-responsive">
                    <form action="{{ url_for('editItem', category_id = category.id, menu_id= item.id) }}" method='POST'>
                         <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th><input name="title" type="text" placeholder="{{item.title }}" style="background-color:transparent;color:rgb(255,255,255);width:260px;border-color:white;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Description</td>
                                    <td><input name="description" type="text" placeholder="{{item.description}}" style="background-color:transparent;color:rgb(255,255,255);width:260px;border-color:white;"></td>
                                </tr>
                                <tr>
                                    <td><button class="btn btn-primary" role="button" style="background-color:transparent;color:rgb(255,255,255);"
                                            type="submit">Submit</button>
                                        <a role= "button" class="btn btn-primary" role="button" href="{{url_for('showDescription', menu_id = item.id, category_id = category.id )}}"
                                            style="color:rgb(255,255,255);background-color:transparent;margin:0px;margin-left:5px;">Cancel</a></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table> 
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}